body,
html{
    background: url(https://cdn-media-2.freecodecamp.org/w1280/602b5ce90a2838549dcc632e.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    front-size: 3rem;
    color: #e2dbdb;
}

hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
}

.buffer {
  height: 10rem;
}

 .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

  .btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width:4px;
}